<mat-card class="terms-conditions-panel">
    <mat-card-header>
        <mat-card-title>Dokumenty ke stažení</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="2">
            <mat-grid-tile>
                <div mat-subheader min-width="80%">Pojistné podmínky
                    <mat-grid-list cols="2">
                        <mat-grid-tile>
                            <mat-list-item>
                                <a mat-button href="https://www.google.com/" target="_blank">VPP Majetku s odpovědností
                                    občanů</a>
                            </mat-list-item>
                            <mat-list-item>
                                <a mat-button href="https://www.google.com/" target="_blank">DPP Pojištění odpovědností
                                    občanů</a>
                            </mat-list-item>
                            <mat-list-item>
                                <a mat-button href="https://www.google.com/" target="_blank">DPP Pojištění odpovědností
                                    zaměstnance za škodu způsobenou zaměstnavateli</a>
                            </mat-list-item>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-list-item>
                                <app-download-button targetUrl='https://www.google.com/'></app-download-button>
                            </mat-list-item>
                            <mat-list-item>
                                <app-download-button targetUrl="https://www.google.com/"></app-download-button>
                            </mat-list-item>
                            <mat-list-item>
                                <app-download-button targetUrl="https://www.google.com/"></app-download-button>
                            </mat-list-item>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div mat-subheader min-width="80%">Informační dokument k pojistnému produktu
                    <mat-grid-list cols="2">
                        <mat-grid-tile>
                            <mat-list-item>
                                <a mat-button href="https://www.google.com/" target="_blank">Pojištění odpovědností
                                    občanů
                                    (IPID)</a>
                            </mat-list-item>
                            <mat-list-item>
                                <a mat-button href="https://www.google.com/" target="_blank">Pojištění odpovědností
                                    zaměstnance za škodu způsobenou zaměstnavateli (IPID)</a>
                            </mat-list-item>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-list-item>
                                <app-download-button targetUrl="https://www.google.com/"></app-download-button>
                            </mat-list-item>
                            <mat-list-item>
                                <app-download-button targetUrl="https://www.google.com/"></app-download-button>
                            </mat-list-item>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>