@import "../../../styles";

.primary-border {
    @extend .panel-rounded;
    border: 1px solid $default-color;
}

.clickable {
    cursor: pointer;
}

.not-clickable {
    cursor: unset !important;
}

.mat-expansion-panel {
    @extend .panel-rounded;
    color: $default-color;
    border-color: $default-color !important;
}
