<section class="padding-vertical-small">
    <mat-accordion>
        <mat-expansion-panel (opened)="expanded = true" (closed)="expanded = false" hideToggle>
            <mat-expansion-panel-header #expansionPanelHeader (click)="expansionPanelHeader._toggle()"
                class="panel-rounded-default">
                <mat-panel-title>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <span fxLayout="row" fxLayoutAlign="start center">
                            <app-icon icon="download_icon" class="margin-right-smallest"></app-icon>
                            <span translate>terms.documentsToDownload</span>
                        </span>
                        <ng-container *ngIf="!isExpanded()">
                            <app-expand-button labelPosition="after" class="clickable"
                                (click)="expansionPanelHeader._toggle()">
                                <span translate>terms.buttons.expand</span>
                            </app-expand-button>
                        </ng-container>
                        <ng-container *ngIf="isExpanded()">
                            <app-collapse-button labelPosition="after" class="clickable"
                                (click)="expansionPanelHeader._toggle()">
                                <span translate>terms.buttons.collapse</span>
                            </app-collapse-button>
                        </ng-container>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="row" fxFlexAlign="space-between start" class="margin-top-small">
                <div fxFlex="50" class="margin-right-medium">
                    <div fxLayout="column" fxFlexAlign="center center">
                        <h3 translate>application.agreements.termsAndConditions.title</h3>
                        <app-terms-download>
                            <span translate>application.agreements.termsAndConditions.property</span>
                        </app-terms-download>
                        <app-terms-download>
                            <span translate>application.agreements.termsAndConditions.citizen</span>
                        </app-terms-download>
                        <app-terms-download>
                            <span translate>application.agreements.termsAndConditions.employee</span>
                        </app-terms-download>
                    </div>
                </div>
                <mat-divider [vertical]="true"></mat-divider>
                <div fxFlex="50">
                    <div fxLayout="column" fxFlexAlign="center center" class="margin-left-medium">
                        <h3 translate>application.agreements.product.title</h3>
                        <app-terms-download>
                            <span translate>application.agreements.product.citizen</span>
                        </app-terms-download>
                        <app-terms-download>
                            <span translate>application.agreements.product.employee</span>
                        </app-terms-download>
                        <app-terms-download>
                            <span translate>application.agreements.contractualInfo</span>
                        </app-terms-download>
                        <app-terms-download>
                            <span translate>application.agreements.gdpr</span>
                        </app-terms-download>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</section>