<div fxLayout=column>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span fxLayout="row" fxLayoutAlign="space-between center">
            <p>Roční pojistné celek:</p>
            <p>{{viewTotalInsurance}}</p>
        </span>
        <span fxLayout="row" fxLayoutAlign="space-between center">
            <p>Frekvence placení:</p>
            <p>{{viewFrequency}}</p>
        </span>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span></span>
        <span fxLayout="row" fxLayoutAlign="space-between center">
            <p>Splátka pojistného:</p>
            <p>{{viewInstalment}}</p>
        </span>
    </div>
</div>