<mat-card class="citizen-application-panel">
    <mat-card-content class="primary-border p-2">
        <app-employee-calculation-panel [parentForm]="panelControl"></app-employee-calculation-panel>
        <mat-divider></mat-divider>
        <section>
            <ng-container *ngIf="!isCitizenActive()">
                <app-add-section-button [callback]="addOrRemoveCitizenSection"
                    label="Přidat pojištění odpovědnosti občanů">
                </app-add-section-button>
            </ng-container>
            <ng-container *ngIf="isCitizenActive()">
                <app-remove-section-button [callback]="addOrRemoveCitizenSection" label="Odebrat">
                </app-remove-section-button>
                <app-citizen-calculation-panel [parentForm]="panelControl"></app-citizen-calculation-panel>
            </ng-container>
        </section>
        <section>
            <app-calculation-summary-panel></app-calculation-summary-panel>
        </section>
    </mat-card-content>
</mat-card>