<span>
    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="goPayRetry">
        <p mat-line translate>payments.goPayRetryMessage</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
        <app-express-payment-button [payment]="payment" (executedPayment)="onExecutedPayment($event)">
        </app-express-payment-button>
        <app-delayed-payment-button [payment]="payment" (executedPayment)="onExecutedPayment($event)">
        </app-delayed-payment-button>
    </div>
</span>