<mat-card class="additional-info-panel">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="center left">
            <section>
                <app-date-field [value]="commencementDate" [parentForm]="panelControl">
                    <span translate>parameters.commencementDate</span>
                </app-date-field>
                <app-client-info-panel header="'application.policyHolder' | translate" [clientInfo]="policyHolder"
                    [parentForm]="panelControl" emailLabel="'application.contactEmail' | translate">
                </app-client-info-panel>
                <app-active-address-panel header="'steps.addInfo.addressTitle' | translate" [address]="mainAddress"
                    [parentForm]="panelControl">
                </app-active-address-panel>
            </section>
            <section>
                <app-check-box labelPosition="before" [checked]="hasContactAddress"
                    (valueChange)="onContactAddressCheckedChange($event)">
                    <span translate>steps.addInfo.otherContactAddress</span>
                </app-check-box>
                <ng-container *ngIf="showContactAddress()">
                    <app-active-address-panel header="'steps.addInfo.addressTitle' | translate"
                        [address]="contactAddress" [parentForm]="panelControl">
                    </app-active-address-panel>
                </ng-container>
            </section>
            <section>
                <app-check-box labelPosition="before" [checked]="hasInsuredPerson"
                    (valueChange)="onInsuredPersonCheckedChange($event)">
                    <span translate>steps.addInfo.otherInsuredPerson</span>
                </app-check-box>
                <ng-container *ngIf="showInsuredPerson()">
                    <app-client-info-panel header="'application.insuredPerson' | translate" [clientInfo]="insuredPerson"
                        [parentForm]="panelControl" emailLabel="'application.contactEmail' | translate">
                    </app-client-info-panel>
                </ng-container>
            </section>
            <section>
                <p translate>steps.addInfo.disclaimer</p>
                <div fxLayout="column">
                    <div fxLayout="column">
                        <app-check-box labelPosition="after" [checked]="agreementsAccepted">
                            <span translate>application.agreements.acceptance</span>
                        </app-check-box>
                        <app-check-box labelPosition="after" [checked]="agreements.termsAndConditions"
                            aria-readonly="true">
                            <!-- TODO - replace html label with a component -->
                            <app-translated-label>application.agreements.termsAndConditions</app-translated-label>
                        </app-check-box>
                        <app-check-box labelPosition="after" [checked]="agreements.productInfo" [disabled]="true">
                            <!-- TODO - replace html label with a component -->
                            <app-translated-label>application.agreements.product</app-translated-label>
                        </app-check-box>
                        <app-check-box labelPosition="after" [checked]="agreements.gdpr" [disabled]="true">
                            <span translate>application.agreements.gdpr</span>
                        </app-check-box>
                        <app-check-box labelPosition="after" [checked]="agreements.contractualInfo" [disabled]="true">
                            <span translate>application.agreements.contractualInfo</span>
                        </app-check-box>
                    </div>
                    <app-check-box labelPosition="after" [checked]="agreementsAccepted">
                        <span translate>application.agreements.aContact</span>
                    </app-check-box>
                </div>
            </section>
        </div>
    </mat-card-content>
</mat-card>