<section>
    <div fxLayout="column" fxLayoutAlign="center center">
        <app-vertical-stepper [headerDescription]="productName" linear #stepper
            (selectionChange)="stepperChanged($event)" [selectedIndex]="selectedIndex">
            <cdk-step [stepControl]="calcForm" [label]="'steps.calculation.title' | translate">
                <form [formGroup]="calcForm" (ngSubmit)="submit()">
                    <div class="panel-rounded-lighter padding-medium">
                        <h2>(1/5) {{'steps.calculation.title' | translate}}</h2>
                        <div class="panel-rounded-accent margin-vertical-medium">
                            <ng-container *ngIf="isCitizenInsurance()">
                                <app-citizen-application-panel [parentForm]="calcForm"></app-citizen-application-panel>
                            </ng-container>
                            <ng-container *ngIf="isEmployeeInsurance()">
                                <app-employee-application-panel [parentForm]="calcForm">
                                </app-employee-application-panel>
                            </ng-container>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <app-back-button [redirectTo]="homeRoute" class="margin-right-small"></app-back-button>
                            <app-stepper-next-button class="margin-left-small"></app-stepper-next-button>
                        </div>
                    </div>
                </form>
            </cdk-step>
            <cdk-step [stepControl]="addInfoForm" [label]="'Doplňující informace'">
                <form [formGroup]="addInfoForm" (ngSubmit)="submit()">
                    <app-additional-info-panel title="(2/5) Doplňující informace" [parentForm]="addInfoForm">
                    </app-additional-info-panel>
                    <app-stepper-buttons></app-stepper-buttons>
                </form>
            </cdk-step>
            <cdk-step [stepControl]="summaryPage" [label]="'Rekapitulace zvoleného rozsahu pojištění'">
                <app-summary-page title="(3/5) Rekapitualce zvoleného rozsahu pojištění"></app-summary-page>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <app-stepper-back-button></app-stepper-back-button>
                    <button mat-raised-button matStepperNext>Sjednat smlouvu a pokračovat k platbě</button>
                </div>
            </cdk-step>
            <cdk-step [stepControl]="paymentPage" [label]="'Volba platební metody'">
                <app-payment-page title="(4/5) Volba platební metody"></app-payment-page>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <app-stepper-back-button></app-stepper-back-button>
                </div>
            </cdk-step>
            <cdk-step [stepControl]="finalPage" [label]="'Smluvní dokumentace'">
                <app-final-page title="(5/5) Smluvní dokumentace"></app-final-page>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <app-back-button [redirectTo]="homeRoute"></app-back-button>
                </div>
            </cdk-step>
        </app-vertical-stepper>
    </div>
</section>
<section>
    <app-terms-conditions-panel></app-terms-conditions-panel>
</section>