<div fxLayout="row" fxLayoutAlign="start center">
    <div class="form-field-label">
        <ng-content></ng-content>
    </div>
    <div>
        <mat-form-field appearance="fill" style="width:70%;height:3em;" class="date-field">
            <mat-label><span translate>labels.date</span></mat-label>
            <input matInput [matDatepicker]="datepicker" [formControl]="fieldControl" [placeholder]="placeholder">
            <mat-datepicker-toggle matSuffix [for]="datepicker">
            </mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
    </div>
</div>