<section class="background-color p-2">
    <app-icon-button icon="help_outline" [label]="productName"></app-icon-button>
    <div fxLayout="column" class="default-background-color m-2">
        <app-select-field [options]="aggregateIndemnities" [selected]="selectedAggregateIndemnity"
            (valueChange)="onAggregateIndemnityChange($event)" [parentForm]="panelControl" label="Limit plnění">
        </app-select-field>
        <app-select-field [options]="territorialScales" [selected]="selectedTerritorialScale"
            (valueChange)="onTerritorialScaleChange($event)" [parentForm]="panelControl" label="Územní rozsah">
        </app-select-field>
        <app-select-field [options]="coinsurances" [selected]="selectedCoinsurance"
            (valueChange)="onCoinsuranceChange($event)" [parentForm]="panelControl" label="Spoluúčast">
        </app-select-field>
        <div fxLayout="column" fxFlexAlign="center center" class="background-color m-2 p-2">
            <app-percent-label label="Sleva:" [value]="discount"></app-percent-label>
            <h3>
                <app-money-label label="Roční pojistné:" [value]="yearlyInsurance"></app-money-label>
            </h3>
        </div>
    </div>
</section>