<section class="background-color p-2">
  <div fxLayout="column" fxLayoutAlign="center center">
      <h1 mat-subheader>Pojištění odpovědnosti - Odložená platba</h1>
      <p mat-line></p>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="default-background-color m-2">

      <p class="mt-2" style="text-align: center">Dokumenty se Vám odeslaly na email. V prípadě, že nedorazili, kontaktujte PVZP.</p>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-flat-button color="primary" (click)="redirectHome()">Zavřít</button>
  </div>
</section>

