<div fxLayout="column" fxFlexAlign="left" class="margin-top-small">
    <app-select-field [options]="aggregateIndemnities" [selected]="selectedAggregateIndemnity"
        (valueChange)="onAggregateIndemnityChange($event)" [parentForm]="panelControl">
        <span translate>parameters.aggregateIndemnities</span>
    </app-select-field>
    <app-select-field [options]="territorialScales" [selected]="selectedTerritorialScale"
        (valueChange)="onTerritorialScaleChange($event)" [parentForm]="panelControl">
        <span translate>parameters.territorialScales</span>
    </app-select-field>
    <app-money-label [value]="entrustedThingsLossLimit" displayBold="true"><span
            translate>parameters.entrustedThingsLossLimit</span>
    </app-money-label>
</div>
<br>
<b>
    <p translate>steps.calculation.employeeOptions.description</p>
</b>
<div fxLayout="column">
    <mat-slide-toggle [checked]='mainVehiclesChecked' labelPosition="before">motocyklu, motokola, osobního a
        nákladního automobilu, traktoru a autobusu,
    </mat-slide-toggle>
    <mat-slide-toggle [checked]='otherVehiclesChecked' labelPosition="before">ostatních dopravních
        prostředků a pracovních strojů opatřených místem k sezení nebo na dálkové ovládání <i>(např.bagr, jeřáb,
            nakladač, vysokozdvižný vozík)</i>
    </mat-slide-toggle>
    <mat-slide-toggle [checked]='noClaimBonus' labelPosition="before" disabled="true">Pojištění s benefitem za
        bezeškodní průběh:
    </mat-slide-toggle>
</div>
<br>
<app-text-label label="Spoluúčast:" [value]="coinsurance"></app-text-label>
<div fxLayout="column" fxFlexAlign="center center" class="background-color m-2 p-2">
    <app-percent-label label="Sleva:" [value]="discount"></app-percent-label>
    <h3>
        <app-money-label label="Roční pojistné:" [value]="yearlyInsurance"></app-money-label>
    </h3>
</div>