<div *ngIf="isMain">
  <section class="background-color p-2">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1 mat-subheader>(4/5) Volba platební metody</h1>
      <p mat-line>Smlouva se stává platnou v den, kdy bude platba pojistného připsána na účet pojistitele.</p>
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      *ngIf="false"
    > Platba přes GoPay se nezdařila, prosím opakujte platbu, nebo zvolte Zaplatit převodem později.

    </div>
  </section>
  <p mat-line></p>
  <div fxLayout="row" fxLayoutAlign fxLayoutGap="5px">
    <button (click)="expressPaymentClick()"
      >Okamžitá platba</button
    >
    <button (click)="delayedPaymentClick()"
      >Odložená platba
    </button>
  </div>
  <p mat-line></p>
  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px">
    <button mat-flat-button color="primary" fxFlex="0.2 0 auto" (click)="redirectHome()">
      Zpět
    </button>
  </div>
</div>
<div *ngIf="isExpress">
  <app-payment-final-screen></app-payment-final-screen>
</div>
<div *ngIf="isDelayed">
  <app-delayed-payment-final></app-delayed-payment-final>
</div>
