<section>
    <h2>{{title}}</h2>
    <div class="form-section-panel">
        <h4 translate>steps.final.acknowledgement</h4>
        <p translate>steps.final.documentation.title</p>
        <app-addinfo-terms-download [checked]="proposal">
            <span translate>steps.final.documentation.contract</span>
        </app-addinfo-terms-download>
        <app-checkbox-label labelPosition="after" [checked]="confirmation">
            <span class="color-dark" translate>steps.final.documentation.confirmation</span>
        </app-checkbox-label>
        <app-checkbox-label labelPosition="after" [checked]="termsAndConditions">
            <span class="color-dark" translate>application.agreements.termsAndConditions.title</span>
        </app-checkbox-label>
        <ul class="ul-reduced-large">
            <li>
                <app-final-docs-download><span translate>application.agreements.termsAndConditions.property</span>
                </app-final-docs-download>
            </li>
            <li>
                <app-final-docs-download><span translate>application.agreements.termsAndConditions.citizen</span>
                </app-final-docs-download>
            </li>
            <li>
                <app-final-docs-download><span translate>application.agreements.termsAndConditions.employee</span>
                </app-final-docs-download>
            </li>
        </ul>
        <app-checkbox-label labelPosition="after" [checked]="productInfo">
            <span class="color-dark" translate>application.agreements.product.title</span>
        </app-checkbox-label>
        <ul class="ul-reduced-large">
            <li>
                <app-final-docs-download><span translate>application.agreements.product.citizen</span>
                </app-final-docs-download>
            </li>
            <li>
                <app-final-docs-download><span translate>application.agreements.product.employee</span>
                </app-final-docs-download>
            </li>
        </ul>
        <app-addinfo-terms-download [checked]="gdpr">
            <span translate>application.agreements.gdpr</span>
        </app-addinfo-terms-download>
        <app-addinfo-terms-download [checked]="contractualInfo">
            <span translate>application.agreements.contractualInfo</span>
        </app-addinfo-terms-download>
        <br>
        <p mat-line class="color-dark" translate>steps.final.notification</p>
    </div>
</section>