<div fxLayout="column">
    <div>
        <mat-form-field appearance="fill" fxFlex>
            <mat-label>Ulice:</mat-label>
            <input matInput [value]='street'>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field appearance="fill" fxFlex>
            <mat-label>Č. popisné:</mat-label>
            <input matInput [value]='streetNumber'>
        </mat-form-field>
        nebo
        <mat-form-field appearance="fill" fxFlex>
            <mat-label>Č. evidenční:</mat-label>
            <input matInput [value]='registrationNumber'>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill" fxFlex>
            <mat-label>Č. orientační:</mat-label>
            <input matInput [value]='orientationNumber'>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill" fxFlex>
            <mat-label>PSČ:</mat-label>
            <input matInput [value]='postcode'>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill" fxFlex>
            <mat-label>Obec:</mat-label>
            <input matInput [value]='municipality'>
        </mat-form-field>
    </div>
</div>