.box {
    color: green;
    border: 2px solid green;
    height: 200px;
    width: 200px;
    background-color: white;;
  }
  
  .box:hover {
    color: white;
    background-color: green;
    cursor: pointer;
  }
  .flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  