<mat-horizontal-stepper linear #stepper (selectionChange)="stepperChanged($event)" [selectedIndex]="selectedIndex">
    <mat-step [stepControl]="calcForm">
        <ng-template matStepLabel>Pojištění odpovědnosti - kalkulace</ng-template>
        <app-employee-calculation-form></app-employee-calculation-form>
    </mat-step>
    <mat-step [stepControl]="addInfoForm">
        <ng-template matStepLabel>Doplňující informace</ng-template>
        <app-additional-info-form></app-additional-info-form>
    </mat-step>
    <mat-step [stepControl]="summaryPage">
        <ng-template matStepLabel>Rekapitulace zvoleného rozsahu pojištění</ng-template>
        <app-summary-page></app-summary-page>
    </mat-step>
</mat-horizontal-stepper>