<div fxLayout="row" fxLayoutAlign="center stretch">
  <div class="stepper-header rounded-box m-1" [ngStyle]="{'width': headerWidth}">
    <div fxLayout="column" fxLayoutAlign="start start" class="m-2">
      <h4 class="white-text"> {{headerDescription}}</h4>
      <div class="header-item p-1" *ngFor="let step of steps; let i = index; let last = last">
        <app-custom-stepper-header-button [active]="isActive(i)" (stepClick)="onClick(i)" [last]="last">
          {{step.label}}
        </app-custom-stepper-header-button>
      </div>
    </div>
  </div>
  <div class="rounded-box m-1" [ngStyle]="{'width': contentWidth}">
    <div [style.display]="selected ? 'block' : 'none'">
      <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
    </div>
  </div>
</div>