<h3>{{header}}</h3>
<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between">
        <app-text-field [value]="address.streetName" label="Ulice:" [parentForm]="parentForm"></app-text-field>
        <app-text-field [value]="address.registrationNumber" label="Číslo popisné / orientační:"
            [parentForm]="parentForm">
        </app-text-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <app-text-field [value]="address.postcode" label="PSČ:" [parentForm]="parentForm">
        </app-text-field>
        <app-text-field [value]="address.municipality" label="Obec:" [parentForm]="parentForm">
        </app-text-field>
    </div>
</div>