<h3>{{header}}</h3>
<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between">
        <app-text-field [value]="address.streetName" [parentForm]="panelControl">
            <span translate>address.steetName</span>
        </app-text-field>
        <app-text-field [value]="address.registrationNumber" [parentForm]="panelControl">
            <span translate>address.registrationNumber</span>
        </app-text-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <app-text-field [value]="address.postcode" [parentForm]="panelControl">
            <span translate>address.postcode</span>
        </app-text-field>
        <app-text-field [value]="address.municipality" [parentForm]="panelControl">
            <span translate>address.municipality</span>
        </app-text-field>
    </div>
</div>