<div class="section-main">
    <div fxLayout="column" fxLayoutAlign="center center">
        <h2 translate>Nesplnění podmínek pro pokračování ve sjednání</h2>
        <div fxLayout="column" fxLayoutAlign="center center" class="panel-rounded-bright margin-smallest padding-largest">
            <p>Bohužel Vámi sjednané pojištění nelze nyní sjednat on-line.</p>
            <p style="text-align: center;">V případě Vašeho zájmu o toto pojištění či o poskytnutí dalších informací
                k pojištění se můžete obrátit na kteroukoliv naší pobočku či nás
                kontatovat na telefonním čísle/emailu uvedeném níže.</p>
            <app-action-button [action]="contacts" class="padding-bottom-huge padding-top-small">Kontakt</app-action-button>
        </div>
        <app-action-button [action]="close" class="margin-vertical-large">Zavřít</app-action-button>
    </div>
</div>